* {
  box-sizing: border-box;
}

html {
  font-family: Montserrat-Regular, sans-serif;
  line-height: 1.8;
  font-size: 1rem;

  @media (max-width: 1300px) {
    font-size: 13px;
  }
}

body {
  min-height: 100vh;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  margin: 0;
}

img {
  width: 100%;
}

p {
  margin: 0 0 1em;
  max-width: 60ch;
}

a {
  text-decoration: none;
  color: #000;
}
