// Flex
.flex {
  display: flex;
}
.inline-flex {
  display: inline-flex;
}

.items-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.flex-col {
  flex-direction: column;
}

.flex-1 {
  flex-grow: 1;
}

// List
.clean-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.main-layout {
  margin: 0 20px;
  max-width: 100vw;
}

.reverse {
  flex-direction: row-reverse;
}

.column {
  flex-direction: column;
}

.header {
  border-bottom: 1px solid #f0f0f0;
  font-size: 11.5px;
  padding: 15px 0 10px;
  margin-bottom: 10px;
  :first-child {
    margin-inline-end: 66px;
  }
}

.border {
  border: 1px solid rgb(240 240 240);
  padding: 4px 20px;
}
