.analytics-filter {
  .sort {
    width: 100vw;
    background-color: rgb(248, 248, 248);
    padding: 3px 0;
    color: rgb(70, 70, 70);
    font-size: 11px;
    margin-bottom: 16px;
    .container {
      & > *:not(.btn) {
        margin-inline-end: 46px;
      }
      .sort-arrow {
        margin-inline-start: 4px;
      }
    }

    .btn-container {
      margin-inline-start: 30px;
      flex-grow: 1;
      .btn {
        background-color: rgb(218 218 218);
        border-radius: 4px;
        padding: 1px 20px;
        margin-inline-end: 10px;
      }
    }
  }
  .nav {
    & > div {
      text-decoration: underline;
      color: rgb(185 185 185);
      height: 31px;
      margin-inline-end: 20px;
      font-size: 11px;
      &.activ {
        font-weight: bold;
        color: #000;
        border-bottom: 2px solid #000;
      }
    }
    .add {
      height: 18px;
      width: 18px;
      border-radius: 50%;
      background-color: #000;
      color: #fff;
      font-size: 1.2rem;
    }
  }
}

.data-desc {
  font-size: 10px;
}

.data-date {
  font-weight: bold;
  color: #000;
}
.data-sort {
  margin: 0 20px;
}
.calender {
  font-size: 1rem;
}
